.hiddenDiv{
  visibility: hidden;
}

.fail_login{
  color: red;
}

.modal-content{
	background: url('../img/back-login.png');
}

body {
    background-image: url("../img/back-home.png");
    background-repeat:no-repeat;
}

.modal-dialog{
    width:70%;
  	height: 89%;
}
.modal-body{
	height: 100%;
}

.modal-content{
  height: 100%;
}
.loginBox{
  width: 100%;
  height: 40%;
  border-radius: 0px;
  background-repeat:no-repeat;
  padding-left:90px;
  font-size: 50%;
}

#userLogin{
  background-image:url('../img/user-icon.png');
}
#passwordLogin{
  background-image:url('../img/password-icon.png');
}

.btnIngresar{
	width: 100%;
	background-color: #000099;
	width: 100%;
	height: 40%;
	border-radius: 0px;
	color: white;
	font-size: 200%;
}
.box-div{
  margin-left: 10%;
  width: 80%;
	height: 30%;
	margin-top: 25%;
}

.fixedCol{
	height: 100%;
}

.enterUserText{
  color: white;
  font-size: 190%;
}

